.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1{
  margin-bottom: 100px;
}
input[type='submit']{
  color:white;
  background-color: brown;
  cursor: pointer;
  font-size: large;
}
input{
  width: 50%;
  margin: 1%;
  padding: 1%;
}
label{
  font-size: large;
  font-weight: 500;
  font-variant:initial ;
}
.kp{
  width: 70%;
  margin: auto;
  padding: initial;
  display: flex;
  flex-direction: column;
  align-items: normal;
}
body{
  background-color: #eff2f9;
}
input{
  background-color: #fff59b;
  width: 60%;
  margin: 1%;
  padding: 1%;
  font-size: larger;
  border: groove;
  border-radius: 12px;
  border-color: black;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
